*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: mlight;
    src: url(Myriad/MyriadPro-Light.otf);
}

@font-face {
    font-family: mregular;
    src: url(Myriad/MYRIADPRO-REGULAR.OTF);
}

@font-face {
    font-family: semibold;
    src: url(Myriad/Myriad\ Pro\ Semibold\ Italic.ttf);
}

@font-face {
    font-family: mbold;
    src: url(Myriad/Myriad\ Pro\ Bold.ttf);
}

html{
    scroll-behavior: smooth;
}

.contenedor{
    width: 100vw;
    height: 341vw;
    overflow: hidden;
}

.caja{
    position: fixed;
    width: 100vw;
    height: 10vw;
    background-color: #3669c9;
    display: flex;
    Justify-content: space-evenly;
    font-family: mregular;
    color: white;
    z-index: 2;
}

.caja img{
    width: 18.2vw;
    height: 3.7vw;
    position: relative;
    top: 2.7vw;
}

.in{
    position: relative;
    top: 3.7vw;
    font-size: 1.8vw;
    text-decoration: none;
    color: white;
}
.q{
    position: relative;
    top: 3.7vw;
    font-size: 1.8vw;
    text-decoration: none;
    color: white;
}
.hi{
    font-size: 5vw;
    position: relative;
    bottom: 40vw;
    right: 1vw;
}
.ent{
    text-decoration: none;
    position: relative;
    top: 3.7vw;
    font-size: 1.8vw;
    color: white;
}

.c{
    width: 10vw;
    height: 2.5vw;
    font-size: 1.5vw;
    border-radius: 10vw;
    background-color: #ffffff;
    color: black;
    text-align: center;
    position: relative;
    top: 4vw;
    text-decoration: none;
}

.caja2 img{
    width: 100vw;
    height: 53vw;
    position: relative;
    top: 9.9vw;
}

.cajita{  
    width: 33vw;
    height: auto;
    background-color: white;
    position: relative;
    bottom: 38.5vw;
    left: 5vw;
    border-radius: 1.8vw;
}

.bloquecito{
    text-align: center;
    font-family: mregular;
}
#text{
    padding: 1.2vw;
    font-size: 2.2vw;
}
#text2{
    font-size: 1vw;
    position: relative;
    bottom: 0.5vw;
    opacity: 0.9;
}

.bloquecito2 label{
    font-family: mregular;
    font-size: 1.2vw;
    padding-left: 2vw;
}
.bloquecito2 input{
    width: 28.5vw;
    height: 2vw;
    margin-left: 2vw;
}
.bloquecito2 select{
    width: 28.7vw;
    height: 2vw;
    margin-left: 2vw;
    font-size: 1.5vw;
}
.fecha{
    font-size: 1vw;
}

.consultar{
    font-family: mregular;
    font-size: 1.7vw;
    text-align: center;
    background-color: #157ffb;
    width: 10vw;
    height: 2.3vw;
    border-radius: 0.9vw;
    position: relative;
    margin-top: 2.5vw;
    margin-left: 12vw;
}


.ingreso{
    position: absolute;
    left: 61vw;
    top: 30.5vw;
    font-size: 3vw;
    font-family: mlight;
}

.ing{
    position: absolute;
    left: 50.5vw;
    top: 34.7vw;
    text-align: center;
    font-size: 1.7vw;
    opacity: 0.85;
    font-family: mlight;
}

.conocer{
    font-family: mregular;
    font-size: 1.8vw;
    text-align: center;
    background-color: #157ffb;
    width: 11vw;
    height: 2.7vw;
    position: absolute;
    top: 45.5vw;
    left: 65vw;
    border-radius: 0.9vw;
    opacity: 0.85;
}
.conocer a{
    text-decoration: none;
    color: black;
}
.hi3{
    position: relative;
    top: -80vw;
}

.caja3{
    position: relative;
    bottom: 30vw;
    font-family: mlight;
}

.pregunta{
    margin-left: 35vw;
    font-size: 3vw;
}

.cajita3{
    text-align: center;
    position: relative;
    right: 16vw;
    top: 3.5vw;
    font-size: 2vw;
    opacity: 0.9;
}

.bloquecito3 img{
    width: 53.5vw;
    height: 40vw;
    position: relative;
    bottom: 31vw;
    left: 52vw;
}

.bloquecito4{
    text-align: center;
    width: 15vw;
    height: 3vw;
    position: relative;
    bottom: 35vw;
    left: 27vw;
    opacity: 0.9;
}

.bloquecito4 a{
    font-size: 1.2vw;
    text-decoration: none;
    color: black;
}

.bloquecito4 img{
    width: 1.4vw;
    margin-bottom: 0.5vw;
}

.caja4{
    position: relative;
    bottom: 60vw;
}

.etapa{
    text-align: center;
    font-family: mlight;
    font-size: 3.2vw;
}

.bloquecito5{
    display: flex;
    Justify-content: space-evenly;
    font-family: mlight;
    font-size: 2.5vw;
    margin-top: 2.5vw;
}

.bloquecito6{
    display: flex;
    Justify-content: space-evenly;
    font-family: mregular;
    font-size: 2.5vw;
    margin-top: 2.5vw;
}

.banco{
    text-align: center;
    font-family: mlight;
    font-size: 3.2vw;
    margin-top: 2.5vw;
}

.bloquecito7{
    display: flex;
    justify-content: space-evenly;
}

.bancamia{
    width: 21vw;
    height: 11vw;
}

.bancol{
    width: 26vw;
    height: 13vw;
    position: relative;
    bottom: 1.7vw;
}

.social{
    width: 28vw;
    height: 6.5vw;
    position: relative;
    top: 2vw;
}

.bloquecito8{
    text-align: center;
}

.movii{
    width: 13vw;
    height: 4.5vw;
    position: relative;
    bottom: 5vw;
    right: 3vw;
}

.davip{
    width: 16vw;
    height: 11vw;
    position: relative;
    bottom: 2.2vw;
    left: 2.5vw;
}

.bloquecito9{
    text-align: center;
    width: 15vw;
    height: 3vw;
    position: relative;
    left: 42vw;
    opacity: 0.9;
}

.bloquecito9 a{
    font-size: 1.5vw;
    text-decoration: none;
    color: black;
}
.hi2{
    position: relative;
    top: -70vw;
}

.bloquecito9 img{
    width: 1.4vw;
    margin-bottom: 0.5vw;
}

.caja5{
    position: relative;
    bottom: 50vw;
    text-align: center;
}

.pf{
    font-family: mlight;
    font-size: 3.2vw;
    position: relative;
    bottom: 5vw;
}

.n{
    position: relative;
    bottom: 3vw;
    background-color: #157ffb;
    border-radius: 60vw;
    width: 3vw;
    height: 3vw;
    left: 48.5vw;
}
.n h6{
    font-family: mlight;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    top: 0.7vw;
}

.bloquecito10 h3{
    font-family: semibold;
    font-size: 2.5vw;
    position: relative;
    bottom: 2vw;
}

.bloquecito10 p{
    font-family: mlight;
    font-size: 2vw;
}

.nu{
    position: relative;
    top: 3vw;
    background-color: #157ffb;
    border-radius: 60vw;
    width: 3vw;
    height: 3vw;
    left: 48.5vw;
}
.nu h6{
    font-family: mlight;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    top: 0.6vw;
}

.bloquecito11 h3{
    font-family: semibold;
    font-size: 2.5vw;
    position: relative;
    top: 3.5vw;
}

.bloquecito11 p{
    font-family: mlight;
    font-size: 2vw;
    position: relative;
    top: 5vw;
}

.bloquecito11 .ver{
    font-family: mlight;
    font-size: 1.5vw;
    position: relative;
    top: 6vw;
    opacity: 0.8;
}
.bloquecito11 a{
    text-decoration: none;
    color: black;
}
#icon{
    position: relative;
    top: 1.5vw;
    right: 3.5vw;
}

.num{
    position: relative;
    top: 12vw;
    background-color: #157ffb;
    border-radius: 60vw;
    width: 3vw;
    height: 3vw;
    left: 48.5vw;
}
.num h6{
    font-family: mlight;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    top: 0.7vw;
}

.bloquecito12 h3{
    font-family: semibold;
    font-size: 2.5vw;
    position: relative;
    top: 13vw;
}

.bloquecito12 p{
    font-family: mlight;
    font-size: 2vw;
    position: relative;
    top: 15vw;
}

.nume{
    position: relative;
    top: 19vw;
    background-color: #157ffb;
    border-radius: 60vw;
    width: 3vw;
    height: 3vw;
    left: 48.5vw;
}
.nume h6{
    font-family: mlight;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    top: 0.6vw;
}

.bloquecito13 h3{
    font-family: semibold;
    font-size: 2.5vw;
    position: relative;
    top: 20vw;
}

.bloquecito13 p{
    font-family: mlight;
    font-size: 2vw;
    position: relative;
    top: 22vw;
}

.bloquecito13 .vermas{
    font-family: mlight;
    font-size: 1.5vw;
    position: relative;
    top: 23.5vw;
    opacity: 0.8;
}
.bloquecito13 a{
    text-decoration: none;
    color: black;
}
#icono{
    position: relative;
    top: 1.5vw;
    right: 3.5vw;
}

.numer{
    position: relative;
    top: 27vw;
    background-color: #157ffb;
    border-radius: 60vw;
    width: 3vw;
    height: 3vw;
    left: 48.5vw;
}
.numer h6{
    font-family: mlight;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    top: 0.5vw;
}

.bloquecito14 h3{
    font-family: semibold;
    font-size: 2.5vw;
    position: relative;
    top: 28vw;
}

.bloquecito14 p{
    font-family: mlight;
    font-size: 2vw;
    position: relative;
    top: 29vw;
}

.caja6{
    width: 91vw;
    height: 17vw;
    background-color: #157ffb;
    position: relative;
    bottom: 16vw;
    left: 5vw;
    text-align: center;
    border-radius: 4vw;
    color: #ffffff;
}

.caja6 h2{
    font-family: mbold;
    font-size: 3vw;
    position: relative;
    top: 2vw;
}

.caja6 p{
    font-family: mlight;
    font-size: 2.2vw;
    position: relative;
    top: 4vw;
}

.ct .con{
    font-family: mregular;
    font-size: 1.5vw;
    color: black;
    background-color: #ffffff;
    width: 10vw;
    height: 2.5vw;
    position: relative;
    left: 40vw;
    top: 6vw;
    border-radius: 1vw;
}

.caja7{
    width: 100vw;
    height: 13vw;
    font-family: mregular;
    font-size: 1.5vw;
    color: #ffffff;
    position: relative;
    bottom: 13vw;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: #3366cc;
}

.gov2{
    width: 17vw;
    height: 3.3vw;
    position: relative;
    top: 3vw;
}

.twitter{
    width: 3vw;
    position: relative;
    top: 2.3vw;
}
.ig{
    width: 2.6vw;
    position: relative;
    top: 2.3vw;
}
.fc{
    width: 2.9vw;
    position: relative;
    top: 2.3vw;
}

.cajita6{
    position: relative;
    top: 1.2vw;
}
.cajita6 img{
    width: 1.5vw;
}

.cajita8{
    position: relative;
    top: 1.2vw;
}
.cajita8 img{
    width: 2vw;
}